*{
    margin: 0;
    padding: 0;
}

#nav-bar{
    /* border: 2px solid red; */
    max-width: 1600px;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#nav-bar .menu{
    /* border: 2px solid red; */
    list-style: none;
    display: flex;
}

#nav-bar .menu li a{
    /* border: 2px solid red; */
    text-decoration: none;
    justify-content: space-between;
    padding: 32px;
}

#nav-bar .btn .btn-text{
    font-size: 16px;
    font-weight: 600; 
    padding: 12px 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
}

